.env
*.ipynb
data/source/*.json
/data
/apps/mc
/apps/minio
/finnhub-batch-stock-pipeline/data
*.duckdb
finnhub-batch-stock-pipeline/finance_db.duckdb
*.txt
!env.txt
!local_requirements.txt
*.tf/
**/__pycache__/
*.py[cod]
finnhub-batch-stock-pipeline/home/
finnhub-batch-stock-pipeline/jars/