arrow==1.3.0

dagster==1.7.6
dagster-aws==0.23.6
dagster-cloud==1.7.6
dagster-cloud-cli==1.7.6
dagster-dbt==0.11.14
dagster-deltalake==0.23.6
dagster-deltalake-pandas==0.23.6
dagster-duckdb==0.23.6
dagster-duckdb-pyspark==0.23.6
dagster-graphql==1.7.6
dagster-k8s==0.23.6
dagster-pandas==0.23.6
dagster-pipes==1.7.6
dagster-postgres==0.23.6
dagster-pyspark==0.23.6
dagster-snowflake==0.23.6
dagster-snowflake-pandas==0.23.6
dagster-snowflake-pyspark==0.23.6
dagster-spark==0.23.6
dagster-webserver==1.7.6
debugpy==1.8.0
delta-spark==3.1.0
deltalake==0.15.3
docstring-parser==0.15
duckdb==0.10.3
json5==0.9.14
kubernetes==29.0.0
psycopg2-binary==2.9.9
py4j==0.10.9.7
pyarrow==16.1.0
pyspark==3.5.1
pytest==8.0.2
requests-oauthlib==2.0.0
snowflake-connector-python==3.10.0
snowflake-sqlalchemy==1.5.3
SQLAlchemy==1.4.52

