dagster==1.7.6
dagster-aws==0.23.6
dagster-dbt==0.11.14
dagster-deltalake==0.23.6
dagster-duckdb==0.23.6
dagster-duckdb-pyspark==0.23.6
dagster-k8s==0.23.6
dagster-pyspark==0.23.6
dagster-postgres==0.23.6
dagster-snowflake==0.23.6
dagster-snowflake-pyspark==0.23.6
dagster-spark==0.23.6
deltalake==0.15.3
duckdb==0.10.3
pytest==8.0.2